


<div class="container">
    
</div>

<section>
    <div class="form-page">
        <div class="card form-card">
            <h2>Book Custom Project</h2>

            <form action="/projects/book-custom" method="POST">
                <label>Project Title</label>
                <input type="text" name="custom_title" required>

                <label>Project Description</label>
                <textarea name="description" required></textarea>

                <label>Expected Budget</label>
                <input type="number" step="0.01" name="expected_budget">

                <label>Timeline</label>
                <input type="text" name="timeline">

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>